{% extends 'banking/base.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron mt-4" style="background-image: linear-gradient(to bottom right, DodgerBlue, 30%, pink); border-radius: 15px;">
        <h1 class="display-4">{{ username }}, welcome bank!</h1>
        <p class="lead">We are glad to see you in our bank system.</p>
        <hr class="my-4">
        <p>Log in to your cabinet.</p>
        <a class="btn btn-dark btn-lg mr-3" href="{% url 'logout' %}" role="button">Log out</a>
        

    </div>
    </div>   
{% endblock %}