{% extends 'banking/base.html' %}
{% block content %}
    <br>
    <br>
    <div class="container">
    <div class="jumbotron mt-4" style="background-image: linear-gradient(to bottom right, DodgerBlue, 30%, pink); border-radius: 15px;">
        <h1 class="display-4">Welcome to My Online Bank!</h1>
        <p class="lead">We are glad to see you in our bank system.</p>
        {% if auth_user %}
            <div>
                {{ username }}, {{ time_of_day }}!
                <div class="col-md-4">
                    <div class="card" style="background-color: rgba(255, 255, 255, 0.4);">
                        <div class="card-body">
                            <h5 class="card-title">Currency Rates</h5>
                            <p>1 USD = {{ uah_to_usd_rate }} UAH</p>
                            <p>1 EUR = {{ uah_to_eur_rate }} UAH</p>
                        </div>
                    </div>
                </div>
            
            </div>
            
        {% else %}
            
            
            <hr class="my-4">
            <p>Log in to your cabinet.</p>
            <a class="btn btn-dark btn-lg mr-3" href="{% url 'login' %}" role="button">Log in</a>
            <a class="btn btn-dark btn-lg" href="{% url 'register' %}" role="button">Sign Up</a>
        {% endif %}


    </div>
    </div>

{% endblock %}
