{% extends 'banking/base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron mt-4" style="background-color: rgba(255, 255, 255, 0.2);">
            <h1 class="display-4">Welcome to My Online Bank!</h1>
            <p class="lead">We are glad to see you in our bank system.</p>
            <hr class="my-4">
            <p>Log in to your cabinet.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Log in</a>
        </div>
    </div>
{% endblock %}
