{% extends 'banking/base.html' %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-4 pt-0">
        <form method="post">
          {% csrf_token %}
          <div class="form-floating mb-1">
            <input type="text" name="first_name" class="form-control rounded-3" id="floatingInputFirstName" placeholder="First name">
            <label for="floatingInputFirstName" class="form-label"></label>
          </div>
          <div class="form-floating mb-1">
            <input type="text" name="last_name" class="form-control rounded-3" id="floatingInputLastName" placeholder="Last name">
            <label for="floatingInputLastName" class="form-label"></label>
          </div>
          <div class="form-floating mb-1">
            <input type="email" name="email" class="form-control rounded-3" id="floatingInputEmail" placeholder="Email address">
            <label for="floatingInputEmail" class="form-label"></label>
          </div>
          <div class="form-floating mb-1">
            <input type="password" name="password" class="form-control rounded-3" id="floatingPassword1" placeholder="Password">
            <label for="floatingPassword1" class="form-label"></label>
          </div>
          <div class="form-floating mb-1">
            <input type="password" name="password2" class="form-control rounded-3" id="floatingPassword2" placeholder="Password again">
            <label for="floatingPassword2" class="form-label"></label>
          </div> 
          <div class="text">
            <p class="text-body-secondary">У вас есть аккаунт? <a href="{% url 'login' %}" data-bs-toggle="modal" data-bs-target="#modalSignin">Войдите</a></p>
          </div>
            
            {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> Пожалуйста, исправьте следующие ошибки:
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
            
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
          <hr class="my-4">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
